<div>
  <h1>Welcome to CSE Motors!</h1>
  <div class="hero">
    <div class="hero-sec">
      <h2 class="texts">DMC Decoration</h2>
      <h3 class="texts">3 Cup holders</h3>
      <h3 class="texts">Superman doors</h3>
      <h3 class="texts">Fuzzy dicel</h3>
      <button class="hero-button">Own Today</button>
    </div>
    <div></div>
  </div>
  <div class="main-sec">
    <div>
      <h2>DMC Delorean Reviews</h2>
      <ul class="dot-list">
        <li>"So far it's like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I am feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!." (5/5)</li>
      </ul>
    </div>
    <div>
      <h2>Delorean Upgrades</h2>
      <div class="pics-container">
        <div class="pics">
            <div class="img-bg">
          <a href="#"><img src="/images/upgrades/flux-cap.png" alt="Flux Cap" ></a>
          </div>
          <a href="#">Flux capacitor</a>
        </div>

        <div class="pics">
            <div class="img-bg">
          <a href="#"><img src="/images/upgrades/flame.jpg" alt="Flame Image"></a>
          </div>
          <a href="#">Flame Decal</a>
        </div>

        <div class="pics">
          <div class="img-bg">
            <a href="#"
              ><img src="/images/upgrades/bumper_sticker.jpg" alt="bumper Sticker"
            ></a>
          </div>
          <a href="#">Bumper Sticker</a>
        </div>

        <div class="pics">
            <div class="img-bg">
          <a href="#"><img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap"></a>
          </div>
          <a href="#">Hub Cap</a>
        </div>

      </div>
    </div>
  </div>
</div>
